*{
    margin: 0px;
    padding: 0px;
}
main{
    border: 2px green solid;
    width: 80%;
    display: flex;
    gap: 40px;
    padding: 10px;
    position: relative;
    left: 150px;
}

nav{
    background-color: rgb(134, 8, 35);
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}

.sub{
    padding-top: 20px;
    padding-left: 480px;
}

section{
    border: 2px solid magenta;
    height: 600px;
    display: flex;
    flex-direction: column;

}

.izquierda{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fotoperfil{
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    padding: 0px;

}

#jacke{
    height: auto;
    width: 100px;
    border-radius: 50%;
    
}

.derecha{
    flex: 3;
}

.cuadros{
    border: 2px solid black;
    margin: 10px;
    height: 100px;
    width: 700px;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nom{
    padding-top:20px;
}


